body {
    background-image:url(images/background.jpg);
    background-repeat: repeat-x repeat-y;
    background-color:antiquewhite;
}
#container{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #333;
    width: 900px;
}
header{
    background-color: #fff;
    height: 220px;
    color: #000
}
.special{
    background-color: antiquewhite;
}
nav{
    background-color: #000;
    height: 20px;
    color: #fff;
    padding: 5px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    padding-right: 20px;
    box-shadow: 0 0 25px 0 white ;
}
nav a:link{
    color: #fff;
}
nav a:visited {
    color: #fff;
}
nav a{
    text-decoration: none;
}
nav a:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 25px 5px white;
}
#content {
    background-color: #fff;
    padding: 10px;
    height: 400px;
}
#colOne {
    float: left;
    width: 200px;
}
#colTwo{
    float: left;
    width: 680px;
}
footer{
    clear:both;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 20px;
    color: #000;
    padding: 15px;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer li{
    display: inline;
    padding-right: 20px;
    box-shadow: 0 0 25px 0 black;
}
footer a:link{
    color: #fff
}
footer a:visited{
    color: #000;
}
nav a{
    text-decoration: none;
}
footer a:hover{
    background-color: #000;
    color: #fff
}
h1{
    font-size: 18px;
    color: #000
}
h2{
    font-size: 16px;
    color:#000
}
h3{
    font-size: 24px;
    color: #000
}